{% extends 'base.html.twig' %}

{% block title %}Modifier livre{% endblock %}

{% block body %}
    {% include 'nav/navbar.html.twig' %}
    <div class="container_form">
        <div class="form">
            <h1>Modifier un livre</h1>
            {{ form_start(form) }}
                <div class="form-row">
                    <label for="{{ form.title.vars.id }}">Titre :</label>
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-row">
                    <label for="{{ form.author.vars.id }}">Auteur :</label>
                    {{ form_widget(form.author) }}
                </div>
                <div class="form-row">
                    <label for="{{ form.date.vars.id }}">Date de publication :</label>
                    {{ form_widget(form.date) }}
                </div>
                <div class="form-row" id="description">
                    <label for="{{ form.description.vars.id }}">Description :</label>
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-row">
                    <input type="submit" value="Modifier">
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include 'footer/footer.html.twig' %}
{% endblock %}
