<header>    
    <nav>
        <a href={{ path('accueil')}}>Bibliothèque Priam</a>
        <div>
            <a href="{{ path('accueil') }}"><input type="button" value="Accueil"></a>
            <a href="{{ path('user') }}"><input type="button" value="Compte"></a>
            <a href="{{ path('book_list') }}"><input type="button" value="Liste des Livres"></a>
            <a href="{{ path('book_add') }}"><input type="button" value="Ajouter un Livre"></a>
            <a href="{{ path('user_deconnexion') }}"><input type="button" value="Se deconnecter"></a>
        </div>
    </nav>
</header>